/* global */
:root {
  /* Color */
  --yellow-color: #f7e600;
  --brown-color: #3a1d1d;
  --gray-color: #f4f4f4;
  --gray-dark: #bebebe;
  --gray-light: #f8f8f8;
  --red-color: #e74d3c;
  --dark-color: #5e5e5e;

  /* Size */
  --padding: 10px;
  --padding-medium: 20px;
  --padding-big: 30px;

  /* Font Size */
  --font-textbox: 14px;
  --font-medium: 18px;
  --font-title: 36px;
  --font-popup-title: 24px;
  --font-large: 24px;
  --font-small: 16px;
}

.hidden {
  display: none;
}

.warn {
  color: var(--red-color);
  font-size: var(--font-small);
}

.confirm {
  background-color: var(--yellow-color);
}

.cancel {
  background-color: var(--dark-color);
  color: white;
}

.button {
  height: 40px;
  border: 0;
  border-radius: 5px;
  font-size: var(--font-small);
}

.textBox {
  height: 35px;
  font-size: var(--font-textbox);
  padding-left: 10px;
  border: 1px solid var(--gray-dark);
  border-radius: 3px;
}

/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}

/* navigation */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--yellow-color);
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

header {
  font-size: var(--font-medium);
  font-weight: bold;
}

header nav {
  width: 100%;
  max-width: 500px;
}

header nav .menu {
  display: flex;
  justify-content: space-around;
}

/* popup */
.popup {
  padding: 30px;
  background-color: var(--gray-light);
  border-radius: 3px;
}

.popup .title {
  margin-bottom: 40px;
  font-size: var(--font-popup-title);
  font-weight: bold;
}

.popup li {
  display: block;
  margin-bottom: 25px;
}

.popup .name {
  display: inline-block;
  font-size: var(--font-medium);
  font-weight: bold;
}

/* resetPassword Popup */
#resetPassword {
  margin: 150px auto;
  width: 500px;
}

#resetPassword .value {
  float: right;
  width: 320px;
  font-weight: bold;
}

#resetPassword input[type=password] {
  float: right;
  width: 320px;
}

#resetPassword .warn {
  margin: 40px 0 20px 0;
}

#resetPassword input[type=submit] {
  width: 100%;
}

/* application container */
.title {
  font-size: var(--font-title);
}

.applications li {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 20px 25px;
  margin: 20px 0;
  background-color: var(--gray-color);
  font-size: var(--font-large);
}

.applications li i {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 50px;
}

.applications li span {
  margin: 0 0 0 55px;
  font-weight: bold;
}

.applications .plusApplication {
  background-color: var(--gray-dark);
  font-size: var(--font-large);
}

.applications .plusApplication i {
  display: inline-block;
  color: var(--gray-light);
}

.applications .plusApplication span {
}

