section {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 30%;
  left: 50%;

  transform: translate(-50%, -30%);
}

section .login {
  display: flex;
  flex-direction: column;
}

section .bigTitle {
  margin-top: 10%;
  margin-bottom: var(--padding);
  font-size: var(--font-title);
  font-weight: bold;
}

section .login {
  width: 300px;
}

section .login .textbox {
  margin-top: var(--padding-medium);
  padding-left: var(--padding);
  font-size: var(--font-textbox);
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--gray-dark);
}

section .login button {
  margin-top: var(--padding-medium);
  font-size: var(--font-textbox);
  font-weight: bold;
  height: 40px;
  background-color: var(--yellow-color);
  border-radius: 5px;
}
